<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @Html.ActionLink("Users", "Index", "Customers", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Products", "Index", "Products", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Categories", "Index", "Categories", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Orders", "Index", "Orders", new { area = "" }, new { @class = "navbar-brand" })


            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody();
        <hr />
        <footer>
            <p>Layout = "~/Views/Shared/_Layout.cshtml";@DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
   
</body>
</html>